<td width="90%">

	<p>

	<B><Font color="blue" size="3">The Origins and History of Wiki Voter Guide:</font></b>
	</P>
<div style="float:right;margin:20px 20px 20px 20px;"><object vspace="50" hspace="50" width="480" height="385"><param name="movie" value="http://www.youtube.com/v/AQOQC1-tJwQ?fs=1&amp;hl=en_US"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/AQOQC1-tJwQ?fs=1&amp;hl=en_US" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="480" height="385"></embed></object><br><br><center><i>This video provides a brief introduction to Wiki Voter Guide.</i></center></div>
	<P>


	Hi, I'm Tom Cross, the creator of Wiki Voter Guide. The idea for this website has
its origins in the 2004 Presidential election. At the time I had recently moved
to Georgia after spending several years living in California. In California
prior to each election the state government distributes lengthy <a href="http://www.voterguide.sos.ca.gov/">voter
information guides</a> with details about each candidate running for each office as 
well as the text of ballot referenda items and different views on those items. 


	</P><P>
	California's voter information guides are an extremely valuable resource for making informed political decisions and I had grown to rely on them. By proactively distributing these guides, California levels the political playing 
field to a certain extent, by providing each campaign with an opportunity to 
state its case to voters, regardless of the size of their advertising budget. 
The guide allows voters to research their votes and make objective, thoughtful 
political choices, instead of voting along party lines or relying on name 
recognition. In short, the guides contribute to a vibrant political process by ensuring
that voters are fully informed about the important decisions that we are 
asking them to make in the ballot box.   
	</P><p>
	Unfortunately Georgia, like most states, does not have a voter 
information guide. 
Volunteer efforts by groups like <a href="http://www.votesmart.org/">Project Vote Smart</a> and <a href="http://www.lwv.org/">the League of Women Voters</a> strive to fill the
gap. As valuable as those efforts are, I felt that more was needed. I started
<a href="http://www.georgia-voter.info">a website</a> that laid out the case
for a voter information guide in Georgia, but I quickly realized that I did not
have the political savvy needed to convince a group of politicians to spend 
hundreds of thousands of tax dollars on a resource that would change the 
nature of the way they were elected.  
	</P>
<p>
	At the same time, I noticed that I had developed a habit of relying on <a href="http://www.wikipedia.org">Wikipedia</a> to research factual questions, and I noticed that there were Wikipedia
articles on a number of politicians. Because it's an open, user edited encyclopedia, there is always a risk that you will be confronted with incorrect
information when you read Wikipedia. Nevertheless, Wikipedia is useful anyway,
because it's free, because it's timely, because of the breadth of subjects
that it is able to cover, and because in spite of its openness <a href="http://en.wikipedia.org/wiki/Reliability_of_Wikipedia">Wikipedia's process produces articles that are
usually accurate.</a> 
	</P><P>
	It occurred to me that although I could not convince the State of Georgia to build the voter information guide that I wanted, it was already
being built by volunteers within Wikipedia. One of the shortfalls of more
formal volunteer efforts to compile local voter guides is that in order to
avoid the risk of being accused of misrepresenting a politician's views, these
efforts rely on political campaigns to answer surveys of their positions in
their own words. Often campaigns refuse to participate, and obviously the 
answers they provide aren't objective. A Wikipedia article about a politician
can directly address any aspect of that politician's political views and work. 
This makes Wikipedia a potentially useful resource for researching politicians.
	</P><p>
	Unfortunately, in 2004 two significant obstacles existed to actually 
using Wikipedia to research elections. The first was the lack of a search
interface that would allow you to enter your zip code and directly access
Wikipedia pages about politicians that are running for office in your 
district. At the time, databases that correlated zip codes with political
districts cost thousands of dollars, and finding out which politicians were
running in those districts was a whole other problem. More importantly, Wikipedia,
being an open, user editable encyclopedia, is extremely easy to vandalize. If
voters were making serious political decisions using the information in 
Wikipedia, people who wish to manipulate the political process would be 
driven to inject misleading information.
	</P><p>
	<B><Font color="blue" size="2">The Reliability of Wikipedia:</font></b>
	</P><p>
	The reliability of Wikipedia became the subject of a discussion one evening between myself and my friend James Baldwin. We realized that Wikipedia is driven by
many of the same principles which were described by Eric S. Raymond in his
seminal essay about open source software - <a href="http://catb.org/esr/writings/cathedral-bazaar/">The Cathedral and the Bazaar.</a> In this essay Raymond credits Linus Torvalds, creator of <a href="http://en.wikipedia.org/wiki/Linux_kernel">the Linux Kernel,</a> with the observation that "given enough eyeballs, all bugs are shallow," meaning that if enough people look at the source code for a particular software program they'll find and eliminate all of the
bugs in it.  
	</P><p>
	This process is analogous to what occurs in Wikipedia, where articles are undergoing constant revision by a large number of different editors. Passages
which remain in a Wikipedia article through many revisions are more likely to
be reliable than passages that are brand new, and have not been subjected to 
review by as many people. James and I realized that if Wikipedia users had a
way to visualize the age of the passages they were reading in Wikipedia, 
subtle vandalism would be much easier for users to detect. 
	</P><p>
	Working in my free time over the year that followed I managed to 
refine the idea that James 
and I had discussed into a working proof of concept, in which the text of 
Wikipedia articles is colored differently depending upon how many edits that
text has survived through. I wrote an academic
paper on the subject which was published in September 2006 by <a href="http://www.firstmonday.org">First Monday,</a>
which is one of the first open-access, peer-reviewed journals on the Internet.  
The paper has a rather odd title that is a reference to a specific act of
Wikipedia vandalism that I used to test out the ideas: <a href="http://firstmonday.org/htbin/cgiwrap/bin/ojs/index.php/fm/article/view/1400/1318">Puppy Smoothies: Improving the Reliability of Open Collaborative Wikis</a>
	</P><p>
	At the time I did not have the means to move the idea from a proof of 
concept into a fully functional implementation. In fact, I did not even have
a hard drive large enough to hold the entire English language 
Wikipedia so that I could work with it. Fortunately, researchers at the University of California Santa Cruz
soon started a similar project called <a href="http://www.wikitrust.net/">WikiTrust.</a> Over the course of several 
years, through a number of <a href="http://www.wikitrust.net/talks-and-papers">research papers,</a> they developed <a href="http://www.wikitrust.net/an-overview-of-the-algorithms">an approach</a> 
that is significantly better than the proposal I presented in my paper.
They incorporated user account reputations in order to make the whole 
system more resistant to manipulation. More importantly, they also developed a
real world implementation that anyone can use. 
	</P><p>
The English language Wikipedia
became accessible via the WikiTrust plugin in the summer of 2010. It was 
exciting to finally be able to use the sort of tool that James and I had first imagined over 6 years earlier. The WikiTrust team has done an 
outstanding job and I believe that their work will have a long term impact
on the collaborative development of knowledge. 
	</P><p> 
	<B><Font color="blue" size="2">A Wiki Voter Guide?</font></b>
	</P><p>
	Now that a tool was available to help users identify vandalism in 
Wikipedia, it made sense to reconsider the question that had originally led me
down this path. Fortunately, in 2010 it no longer cost thousands of dollars 
to obtain data about political campaigns. Unpaid volunteers at <a href="http://www.votesmart.org/">Project Vote 
Smart</a> have been compiling this campaign data manually for years. Prior to the 
2008 Presidential election they created a <a href="http://www.votesmart.org/services_api.php">Web Services API</a> that
made it possible for websites like this one to query their data. I accessed
their API from <a href="http://python.org/">Python</a> using <a href="http://github.com/sunlightlabs/python-votesmart">an open source interface</a> that was created by
<a href="http://sunlightlabs.com/">Sunlight Labs,</a> and here you have it - 
a website that allows users to look up Wikipedia pages about politicians
who are running for office in upcoming elections in their districts. 
	</P><P>
	But can this actually work? Can people really use Wikipedia to research
elections? As it stands today this remains a social experiment. Many
politicians are not yet covered by Wikipedia, so a lot of additional editing will
be required to reach a point where there is enough information in there, 
particularly about local elections and issues, for Wikipedia to be really useful.
There are complex social dynamics that will come into play as more people 
begin to use Wikipedia for this purpose. The content of Wikipedia articles is often heavily
influenced by those who have the most time to participate in the process of writing
them, and it will be the campaigns themselves who ultimately have that kind
of time and interest. However, those campaigns will need to participate not 
only in compiling articles about their own campaigns, but in editing articles 
about their opponents 
as well. Only objective factual information will be likely to survive this 
adversarial editing process. 
	</P><P> 	
	Are the results likely to be better than what is available from
comprehensive official voter guides of the sort published in California or 
even better than the information that is available from third parties about
 elections that are happening in areas that don't have official guides?  
I think that's unlikely. However, what I think Wikipedia has the potential to
offer is a different perspective. Wikipedia can cover subjects that politicians
don't want to discuss on their campaign websites. Wikipedia can answer 
questions about campaigns that refuse to respond to interviews from volunteer
voter guides. I think that perspective has a role to play in putting the
people in control of our political process.
	</P><p> 
	This is an idea that is in its infancy. We need more editors writing
articles in Wikipedia about political campaigns in order for this to be
successful. This website needs numerous improvements in terms of the 
performance of the system, information about ballot referenda items, 
accessibility, etc. I would like to see a national standard emerge for 
the publication of ballot information in <a href="http://en.wikipedia.org/wiki/XML">XML</a> so that
some of the manual effort required of volunteers at Project Vote Smart can
be automated. Not to mention the possibility of providing information about
elections in other countries. It is going to take the work of a large number 
of people to really close the information gaps that exist today regarding 
political elections. These are gaps that we have a responsibility to close. 
	</P><p>
	There is a serious concern in the United States today that access to our 
political offices is being auctioned off to the highest bidder. Few have spoken
about this issue as articulately as Professor Lawrence Lessig, who <a href="http://bostonreview.net/BR35.5/lessig.php">describes an institutional 
dependency</a> between Congress and campaign financiers that undermines the 
intended relationship between the Government and the People. Ultimately,
campaign finance reform is about the influence that political advertising 
has over people's thinking. If we want people to make better informed 
political choices it stands to reason that we ought to provide them with
better information about the choices that they are making. In most places in
the United States today we are simply not doing that.	
	</P><p>
	I don't think Wiki Voter Guide is going to solve the problem of
political corruption. I don't think anyone is arguing that California's
Voter Information Guides have eliminated concerns about campaign finance
in that state. However, I think it is a prerequisite. We have to build 
political information resources that are objective and fair - that we can rely 
on. Then we can begin engaging
in the much harder task of encouraging people to use them and encouraging 
people to think critically and objectively as they do so. Ultimately, we
elect Congress. If we want Congress to change, we have to change first. I
hope this website and the social experiment it represents will prove to have
been a step in the right direction.    
	</P><p>
	<br>
	<i>Please feel free to email me with any comments, questions, or feedback
at <a href="mailto:support@wikivoterguide.com">support@wikivoterguide.com</a>. This 
website is currently operated by the Industrial Memetics Institute. We plan
to establish a non-profit corporation for this project in the near future. </i>
</td>
<td width="10%">&nbsp;</td>
