<td width="90%">

	<p>
	<B><Font color="blue" size="3">Making Wiki Voter Guide better:</font></b>
	</p><p>	
	As you use this website you may notice that many politicans are not 
covered in Wikipedia. We rely on the global community of people who edit
Wikipedia to make it a useful resource for researching politicans. Anyone
can contribute in a number of different ways. 
	</p><P>
	<B><Font color="blue" size="2">Fixing Wikipedia Routing</font></b>
	</p><P>
	If you find that a politician's Wikipedia page is not coming up when
you click on their name in Wiki Voter Guide, its worth checking to see if there
is an article about that person filed under a different variation of their name. There is no 
standard way that biographies about persons are named in Wikipedia. Wiki Voter
Guide generates links into Wikipedia using the name information that we 
retrieve from Project Vote Smart. Sometimes a biography about a politician
has been created in Wikipedia using a name with a slightly different format,
such as the use of a nickname or the omission of a middle initial. 
	</p><p>
	For example, Georgian politician Clarence Saxby Chambliss usually
goes by his middle name - Saxby. His biography in Wikipedia is hosted under
the name Saxby Chambliss: <a href="http://en.wikipedia.org/wiki/Saxby_Chambliss"> http://en.wikipedia.org/wiki/Saxby_Chambliss </a>
	However, when we pull his first and last name out of the VoteSmart database, of course, we get Clarence Chambliss, from which get generate the following
link: <a href="http://en.wikipedia.org/wiki/Clarence_Chambliss">http://en.wikipedia.org/wiki/Clarence_Chambliss</a>
	Fortunately, the Clarence_Chambliss page in Wikipedia redirects to Saxby_Chambliss.
	</p><p>
	All that you have to do in this situation is redirect the page we
are linking to the actual biography page, by starting the article we link to and inserting #REDIRECT [[Target Article Name]] into that page, with the target
article being the correct name that the biography was created under. You can read 
more about Wikipedia redirects <a href="http://en.wikipedia.org/wiki/Wikipedia:Redirect">here.</a> You can see the Clarence Chambliss redirect <a href="http://en.wikipedia.org/w/index.php?title=Clarence_Chambliss&redirect=no">here.</a>  
	</p><p>
	You may also run into a situation where our link takes you to a
biography about a different person who has the same name as a politician. This
more complicated scenario may require the creation of a <a href="http://en.wikipedia.org/wiki/Wikipedia:Disambiguation">disambiguation page</a> and a new Wikipedia article about the politician.	
	</p><p>
	<B><Font color="blue" size="2">Contributing Wikipedia articles about politicans:</font></b>
	</p><P>
	There is a need for more objective, honest coverage of politicians in 
Wikipedia, particularly of politicians running for local offices. Writing 
political biographies can be a daunting task. Before starting you should
read Wikipedia's guidelines on writing <a href="http://en.wikipedia.org/wiki/Wikipedia:Biographies_of_living_persons">biographies about living persons. </a>
	</p><P> 
	<B><Font color="blue" size="2">Helping Project Vote Smart:</font></b>
	</p><P>
	<a href="http://www.votesmart.org">Project Vote Smart</a> compiles all of the data that we use to determine what politicians are running for office
in a district based on a Zip+4 code. This information is compiled manually
by volunteers. Most of the funding for Project Vote Smart comes from 
individual members. They need your support. 
	</p><P>
</td>
<td width="10%">&nbsp;</td>
