<td width="90%">

	<p>
	<B><Font color="blue" size="3">Using Wikipedia to research elections without being misled:</font></b>
	</p><p>	
	This website helps you research upcoming elections in your district using Wikipedia. When you enter your Zip+4 code you are presented with a drop down
box listing upcoming elections in your area. Below the drop down box you'll
see the candidates running in that election. When you click on their names
their Wikipedia biographies will hopefully appear. You may notice that many
politicans are not covered in Wikipedia. For more information about how 
you can help correct that problem, <a href="/contributing">click here.</a>
	</p><P>
	<B><Font color="blue">Wikipedia may have misleading information!</font></b> Anyone can edit Wikipedia pages, so it is easy for people to inject incorrect information. 
It is important 
that you don't believe everything that you read in Wikipedia. The following recommendations
will help you get the most out of this site. 
	</p><P>
	<B><Font color="blue" size="2">Install and use the WikiTrust Browser Plugin for Firefox:</font></b>
	</p><P>
	Wikipedia pages undergo a constant collaborative editing process. When 
new information is first added to an article, it may not be trustworthy. 
But over time lots of people edit the article and hopefully remove bad
information. Pieces of information that have survived for a long time in a 
Wikipedia article without getting removed are more likely to be trustworthy. 
	</p><P>
	The problem is that when you read a Wikipedia article its hard to tell what passages have been recently added and what passages have survived a lot of
edits by a large number of people. <a href="http://www.wikitrust.net/">The WikiTrust Browser Plugin</a> solves this
problem, by placing a tab at the top of each Wikipedia page labeled "WikiTrust." When you click on this tab, WikiTrust colors the page you are reading. 
New passages have an orange background, indicating that they may not be 
trustworthy.  	
	</p><p>
	Unfortunately, WikiTrust only supports <a href="http://www.mozilla.com/">Firefox</a> at this time, and we
suggest that you use that browser with this site. Plans to support a wider
array of browers are underway. <a href="https://addons.mozilla.org/en-US/firefox/addon/11087/">Click here</a> to install the WikiTrust Plugin.
	</p><p>
	<B><Font color="blue" size="2">Rely on authoritative, primary sources:</font></b>
	</p><P>
	Wikipedia can be used as a gateway into more authoritative sources
about a candidate's views and positions. Wikipedia pages about politicans 
usually link to their campaign website, which is the most authoritative source
of their views. Also, information in Wikipedia articles often references
external citations such as newspaper articles. Don't take the paraphrasing
in Wikipedia at face value. If a particular fact interests you, click through
to the primary source and read it there. 
	</p><P> 
	<B><Font color="blue" size="2">Think critically about what you are reading:</font></b>
	</p><P>
	Many people are invested in certain political results - they don't care 
whether or not you
really understand the issues as long as you agree with them and vote the way
they want you to vote. Political advertisements, commentary from pundits, and
certainly information in Wikipedia pages about politicians can and often is
intentionally misleading. Think carefully about the things that you choose to believe. 
	</p><P>
</td>
<td width="10%">&nbsp;</td>
