<td width="80%">

	<p>
	<a name="googlestat"></a><b><font size="4" color="blue">Google results demonstrate that voters are already using Wikipedia</font></b><br>
	<font color="Gray">Posted by Tom Cross on 10/31/10</font><br><br>
	<p>
	Google's <a href="http://googleblog.blogspot.com/2010/10/searching-your-way-to-ballot-box.html">blog post about election related searches</a> mentions that Google is seeing "a lot of searches for things like... [jerry brown wikipedia]." This tells us something that we already knew - a lot of people are currently
using Wikipedia to research political candidates. What is even more interesting about this datapoint is that we're talking about California, a state that
has one of the most complete and widely used official voter information guides in 
the country. This indicates that even the best official voter guides may not 
include all of the information that voters are looking for when they 
make political decisions, and that Wikipedia offers voters something else that
they want. Possibly an independent perspective?  Regardless, this fact helps build the case for Wiki Voter Guide. 
 </p><p>
Wiki Voter Guide makes several positive contributions to this 
existing reality. First, we are arming people with information about how to
read Wikipedia carefully, and providing them with links to tools like WikiTrust
that can help them detect and avoid vandalism. We are also making it easier for
everyone to locate the Wikipedia pages about the candidates that will appear
on their ballot. The accuracy of Wikipedia articles is a function of the size 
and 
health of the community of people who contribute to them. By illuminating all
of the relevant articles about political campaigns in Wikipedia, we can help 
direct potential contributors to articles in need of their attention, thus
helping to ensure that those articles get the attention they need. In time,
we hope to use this site to organize and equip people who want to make
Wikipedia a useful political resource by providing them with the information
they need to do that job effectively.    
	</p><p>
	In the end we believe that this website can improve the reliability
of the information that voters are already getting from Wikipedia.  
	</p>
	<p> <br><br></p>
	<p>
	<a name="whyexample"></a><b><font size="4" color="blue">Why Wiki Voter Guide is needed - a specific example from the 2010 election in Georgia.</font></b><br>
	<font color="Gray">Posted by Tom Cross on 10/26/10</font><br>
	</p>
	<p>One of the items on Georgia ballots this November provides a perfect
illustration of why Wiki Voter Guide is a necessary addition to the array
of information resources available to voters in this state. The first 
Amendment to the Georgia Constitution that will appear on the ballot asks 
voters to answer the following question:</p>
<p>
<i>"Shall the Constitution of Georgia be amended so as to make Georgia more economically competitive by authorizing legislation to uphold reasonable competitive agreements?"</i>
</p>
	<p>The wording of this ballot item has been the subject of some controversy regarding how accurately it conveys the actual purpose of the amendment. The Savannah Morning News called the wording <a href="http://savannahnow.com/opinion/2010-10-08/amendment-1-no">"fraudulent,"</a> and the Athens Banner-Herald called the wording <a href="http://www.onlineathens.com/stories/101810/opi_722075851.shtml">"outright misleading."</a> You can read more about this amendment
by clicking on <a href="http://www.ballotpedia.org/wiki/index.php/Georgia_Employment_Contract_Enforcement,_Amendment_1_(2010)">this link to Ballotpedia's page,</a> which includes links to several different viewpoints as well as full text of the legislation. Regardless of whether or not you agree with the accusations, there is a reasonable and objective argument that voters
ought to understand what they are voting for, and that in order to do that
it may be important for voters to have access to complete background 
information about the 
meaning of a ballot item and not just the text of the question that is going to be asked on the ballot. Where should voters turn for that information?</p> 
	<p> 	
	Like many states, Georgia does not have an official Voter Information Guide that provides people with these kinds of answers. However, there are a 
number of private parties who attempt to fill the gap. Many newspapers and interest groups publish their own 
voter guides, but these are editorial in nature. They make clear recommendations
instead of merely providing factual information and leaving the decision up to 
voters. 
	</p><p>
	I know of one guide that is 
both extremely comprehensive and carefully objective, the voter guide that is
compiled by the 
<a href="http://www.lwvga.org">League of Women Voters of Georgia</a> and published by the 
<a href="http://www.ajc.com/voterguide">Atlanta Journal Constitution.</a> This
is by far the best resource for voters in Georgia that I have come across. It 
provides
a detailed, objective view of every contested race on my ballot. As a general
tool for researching candidates it is far more useful than Wiki Voter Guide is
today, as Wikipedia does not have comprehensive coverage of local candidates
nor does it speak with the authority and objectivity of this guide. 
	</p><p>	
	However, <a href="http://www10.thevoterguide.org/v/ajc10/race-detail.do?id=199223492">coverage of the first Constitutional Amendment</a> that will appear
on Georgia ballots in the AJC's version of the League of Women Voters Guide 
leaves something to be desired. They only provide the text that will appear on 
the ballot with no additional information. Why? I'm not sure. One possibility 
is that it's hard to do this objectively. Most of this voter guide is created
by sending questionnaires to the campaigns, asking them to explain their
political positions in their own words, but you can't do this with ballot 
measures because they are supported and opposed by a wide array of different
interest groups. Who should speak for each side? Its hard to sort that out fairly. 
	</p><p>
	You could provide the full text of the legislation, but that's not 
always practical. Many ballot measures refer to extremely complicated laws
that would very difficult for voters to parse and understand. 
	</p><p>	
The League of Women Voters does have <A href="http://www.lwvga.org/CAs.htm">a document on their website</a> providing information about each ballot item. However, this document doesn't provide both pro and con positions for all of the Amendments and because this
information is not being disseminated in the AJC's version of the guide it's not 
clear how many voters
have seen it. 
	</p><p>
	It's clear to me that something more is needed. Perhaps the best thing
would be an official voter information guide published by the state government
and modeled after the guide that is published in California. But, we don't have
that. Creating it would be very expensive, and frankly, I imagine that Georgia
is not the only place in the United States where these kinds of problems 
exist. 
	</p><p>
Wiki Voter Guide provides a new way to approach this problem. It's less
expensive, but it's also less accessible. Its primary advantage comes from
the collaborative process that is used to compose articles in Wikipedia and,
in this case, Ballotpedia. This process allows us to develop an objective 
view of something like a ballot 
referenda item without having to find a single individual who can speak
about the issue objectively. Although today the coverage of political 
campaigns in Wikipedia is not comprehensive enough, this website shines some
light on the gaps and provides a structure that can direct people 
who want to contribute toward articles that need more work. 
	</p><p>It is my hope
that Wiki Voter Guide can galvanize the support needed to fill those gaps, because I 
think it's clear that voters in many states do not yet have the information
that they need to accurately express their interests on election day. 
	</p>
	<p> <br><br></p>
	<p>
	<b><font size="4" color="blue">Added Ballot Referenda Items</font></b><br>
	<font color="Gray">Posted by Tom Cross on 10/25/10</font><br><br>
	I've added a link that should pull up the referenda items on your 
        local ballot. This data comes from <a href="http://www.ballotpedia.org">Ballotpedia.</a> Ballotpedia is not Wikipedia and the WikiTrust plugin doesn't work there, but it is a user editable wiki and it does have very good coverage of local ballot issues. From a technical perspective I don't think this is the right long term solution for ballot measures but it will work very well in the short term. 
	</p>
	<p> <br><br></p>
	<p>
	<b><font size="4" color="blue">Brief Introductory Video on YouTube</font></b><br>
	<font color="Gray">Posted by Tom Cross on 10/23/10</font><br><br>
	This video provides a brief introduction to Wiki Voter Guide. Please share it! <br><br>
	<object width="480" height="385"><param name="movie" value="http://www.youtube.com/v/AQOQC1-tJwQ?fs=1&amp;hl=en_US"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/AQOQC1-tJwQ?fs=1&amp;hl=en_US" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="480" height="385"></embed></object>
	</p>
	<p> <br><br></p>
	<p>
	<b><font size="4" color="blue">Presentation on Wiki Voter Guide and Campaign Finance Reform</font></b><br>
	<font color="Gray">Posted by Tom Cross on 10/20/10</font><br><br>
		  Click on <a href="static/ywikivoterguide.pdf">this link</a> to download a PDF file with presentation slides that explain Wiki Voter Guide in the context of concerns 
about the influence of money in politics. I hope to record audio for this presentation and post the whole thing to YouTube soon.  	
	</p>
	<p> <br><br></p>
	<p>
	<b><font size="4" color="blue">Now you can follow us on Facebook and Twitter!</font></b><br>
	<font color="Gray">Posted by Tom Cross on 10/18/10</font><br><br>
	Now you can keep up with our news updates by following us on <a href="http://twitter.com/wikivoterguide">Twitter</a> and <a href="http://www.facebook.com/pages/Wiki-Voter-Guide/165317416813586">Facebook!</a>
	<a href="http://twitter.com/wikivoterguide"><img height="20" width="20" src="static/images/t_logo-a.png"></a> <a href="http://www.facebook.com/pages/Wiki-Voter-Guide/165317416813586"><img height="20" width="20" src="static/images/f_logo.jpg"></a>
		  	
	</p>
	<p> <br><br></p>
	<p>
	<b><font size="4" color="blue">Wiki Voter Guide Launched!</font></b><br>
	<font color="Gray">Posted by Tom Cross on 10/10/10</font><br><br>
	Today, I launched Wiki Voter Guide. I'll update this blog when new features are launched on the site.  	
	</p>
	<p><br><br></p>
	<p>Follow us: <a href="http://twitter.com/wikivoterguide"><img height="20" width="20" src="static/images/t_logo-a.png"></a> <a href="http://www.facebook.com/pages/Wiki-Voter-Guide/165317416813586"><img height="20" width="20" src="static/images/f_logo.jpg"></a></p>
</td>
<td width="10%">&nbsp;</td>
	
